{# {% extends 'base.html.twig' %} #}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security')}}</div>
{% endif %}
<form action ="{{ path('app_security')}}">

<div>
    <label for="username">Adresse email</label>
    <input type="email" placeholder = "exemple@gmail.com" name="_username" value="{{ last_username }}"></input>
</div>

<div>
    <label for="password">Mot de passe</label>
    <input type="password" name="_password" placeholder="*******"></input>
</div>

<button type="submit">Se connecter</button>

</form>

{% endblock %}
