{% extends 'commons/navbar.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
{% endblock %}

{% block body %}
    <header>
            <div class="bannerImg">
            
            </div>
    </header>
{% include 'commons/footer.html.twig' %}

{% endblock %}
