{% include 'base.html.twig' %}

{% block body %}

<div class="table bottom">
    <table>
        <thead>
            <tr>
                <th class="title">Liste des genres</th>
            </tr>
        </thead>
        <tbody>
        <div class="title">
            {% for genre in genres %}
        </div>
                <tr>
                    <td>
                        <h2 class="textStyle">{{ genre.name }}</h2>
                        <a href="{{ path('edit_genre', { 'id': genre.id }) }} ">Modifier</a>
                        <a href="{{ path('delete_genre', { 'id': genre.id }) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
