{% extends 'commons/base.html.twig' %}

{% block body %}

<h1 class="genreTitle">Edition d'un genre</h1>

<div>
{{ form_start(form) }}

{{form_widget(form.name)}}

{{ form_row(form.submit)}}

{{form_end(form)}}

</div>

{% endblock %}