{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block main %}

<nav class="mealNav new">
    <div class="top">
        <a href={{ path('app_recipes_day') }} class="button"> Nos commandes <a>
        <a href='' class="button"> Les ingrédients <a>
    </div>
</nav>
{% endblock %}
