{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block main %}

<div class="example-wrapper">
    <h1>Hel= ✅</h1>

    {{ form(form) }}

    {{ dump(recipesOfTheDay) }}
    
</div>
{% endblock %}
