$titlecolor : #A28C3B;
$text : #EFE7DA;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');


* {
    // background-color: #041E2A;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    min-height: 100vh;
}

.textStyle{
    color :  $text;
    font-family : Montserrat, sans-serif;
}

// .inputColor {
//     background-color: white;
// }

// .textColor {
//     color :  $text;
// }

li {
    list-style-type: none;
}

.title {
    color: $titlecolor;
    font-family: Aleo, sans-serif;
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar {
    padding: 200px 0;
}

.button {
    background-color: transparent;
    border: 1px solid;
    border-color: $titlecolor;
    border-radius: 30px;
    color: $titlecolor;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

@media screen and (max-width: 500px)
{
    .button {
        font-size: 15px;
        padding: 10px 30px;

    }
}
