.bannerImg {
    padding-top: 200px;
    max-width: 100%;
    height: 450px;
    overflow: hidden;
}

.top {
    padding-top: 100px;
}

.homeSection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    gap: 20px;
    padding-bottom: 200px;

    .right {
        text-align: right;
    }

    .left {
        text-align: left;
    }

    .borderText {
        font-size: 1.5rem;
        text-align: center;
        justify-content: center;
        width: 90%;
        
    }


    .midText {
        padding-left: 20px;
        justify-content: center;
        font-size: 1.5rem;
        text-align: center;
        justify-content: center;
    }
    

    img {
        width: 350px;
        height: 350px;
        border-radius: 50%;
    }
    
}


.opinionContainer {

    .imageContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 100px;

    }
}

.storyContainer {

    padding-bottom: 200px;

    .storyFlex {
        display: flex;
        
        align-items: center;
        justify-content: flex-start;
        padding: 0 20px;
        gap: 20px; /* espace entre les colonnes */

        img {
            margin-right: auto;
            max-width: 50%;
            margin-left: auto;
           }

        .storyText {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;

            a {
                text-align: center;
                margin-top: 10px;
            }

            p {
                padding-top: 10px;
                font-size: 1em;
                text-align: justify;
                width: 80%;
                margin: 0 auto;
            }
        }
    }
}

.opinionContainer {
    padding: 20px;
    padding-bottom: 200px;

    .opinion_texts {
        display: flex;
        justify-content: space-between;
        gap: 20px; /* espace entre les avis */

        div {
            flex: 1;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            p {
                text-align: justify;
            }
            
        }
    }
}

@media screen and (max-width:1000px)
{
    .homeSection {
        img {
        width: 250px;
        height: 250px;

        .right .left {
            text-align: center;
            align-items: center;
        }
        }
    }
    
}


@media (max-width: 768px) {

    .border {
        flex-direction: column;
    }

    .mid {
        flex-direction: column-reverse;
    }
    

    .borderText, .midText {
        width: 100%;

        padding-left: 0;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 0;
    }

    .storyFlex {
        flex-direction: column; /* Arrange les éléments en colonne */
        align-items: center; /* Centre les éléments horizontalement */
        gap: 10px; /* Réduit l'espace entre les éléments */
    }

    .storyFlex img {
        max-width: 100%; /* Image prend toute la largeur disponible */
        margin: 0 auto; /* Centre l'image */
    }

    .storyText {
        width: 100%; /* Texte prend toute la largeur disponible */
    }

    .storyText p {
        width: 90%; /* Réduit la largeur du texte pour une meilleure lisibilité */
    }
}



@media screen and (max-width:650px)
{
    .opinion_texts {
        
        flex-direction: column;
    }

    .homeSection {
        img {
        width: 200px;
        height: 200px;
        }
    }
}




