<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Select'eat{% endblock %}</title>
    {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
    {% endblock %}
</head>
<body>
    <header>
        {% include 'commons/navbar.html.twig' %}
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        {% include 'commons/footer.html.twig' %}
    </footer>
    {% block javascript %}
        <script src="{{ asset('js/navbar.js') }}"></script>
    {% endblock %}
</body>
</html>
