{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
{% endblock %}


	<header class="mainHeader">
		<div class="logo">
			<a href="/">
				<img class="imgLogo" src="{{ asset('img/lol.png') }}" alt="logoLr"></img>
		</a>
	</div>
		<input type="checkbox" class="menuBtn" id="menuBtn">
		<label for="menuBtn" class="menuIcon">
			<span class="menuIconLine"></span>
		</label>
	

	<ul class="navLinks">

		<li class="navLink">
			<a href="/login">Connexion</a>
		</li>
		<li class="navLink">
			<a href="/article">News</a>
		</li>
		<li class="navLink">
			<a href="">Nos produits</a>
		</li>
		<li class="navLink">
			<a href="/join">Nous rejoindre</a>
		</li>
	</ul>
	<script src="{{ asset('js/navbar.js') }}"></script>
	</header>