<!DOCTYPE html>
<html>

<body>
    <nav class="mainHeader">
        <div class="logo">
            <a href="/">
                <img class="imgLogo" src="{{ asset('img/Logo.png') }}" alt="logoLr">
            </a>
        </div>
        <input type="checkbox" class="menuBtn" id="menuBtn">
        <label for="menuBtn" class="menuIcon">
            <span class="menuIconLine"></span>
        </label>

        <ul class="navLinks">
            <li class="navLink">
                <a href="/connexion">Se connecter</a>
            </li>
            <li class="navLink">
                <a href="/calendar/new">Histoire</a>
            </li>
            <li class="navLink">
                <a href="/newrecipes/">Personnalisation</a>
            </li>
            <li class="navLink">
                <a href="/contact">Contact</a>
            </li>
        </ul>

    </nav>
</body>
</html>
